extends layout

block content
    h1.mt-4 #{title}
    table.table.mt-4
        thead
            th(scope="col") 
                h5 Name
            th(scope="col") 
                h5 Description
            th(scope="col") 
                h5 Action
            th(scope="col") 
                h5 Date
            th(scope="col") 
                h5 Time
        tbody
        each reminder, i in reminders
            if reminder.author ==user.id
                tr#parent
                    td
                        p.lead.name= reminder.name
                    td
                        p.lead= reminder.body
                    td
                        p.lead= reminder.action
                    td
                        p.date= reminder.date
                    td
                        p.time= reminder.time
                    td
                        a.btn.btn-default(href='/reminders/edit/'+reminder._id) Edit
                    td
                        a.btn.btn-danger.delete(href='#', data-id= reminder._id) Delete
        